

.btn {
  background-color: #0061ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.btn:hover {
  background-color: #0047cc;
}

input[type="file"] {
  font-family: "Inter", "Helvetica Neue", sans-serif;
}


.btn:hover {
  background-color: #0051d4;
}

.btn {
  margin-right: 8px;
}

.custom-file-upload {
  display: inline-block;
  margin-right: 10px;
}

.file-upload-button {
  background-color: #a4afc0;
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  margin-right: 15px;
}

:hover .file-upload-button {
  background-color: #8a9bb0;
}

:active .file-upload-button {
  background-color: #53575c;
}

